* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0b0012;
  font-family: system-ui, sans-serif;
  overflow: hidden;
}

.screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* START */

.start-screen {
  position: fixed;
  inset: 0;
  background: #0b0012;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.start-text {
  color: #ff8fcf;
  font-size: 2.2rem;
  font-weight: 700;
  text-shadow:
    0 0 15px rgba(255, 143, 207, 0.6),
    0 0 40px rgba(255, 143, 207, 0.4);
}

/* TEKST */

.text {
  z-index: 2;
  color: #ff8fcf;
  font-size: clamp(2rem, 7.5vw, 3.4rem);
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.12em;
  text-shadow:
    0 0 10px rgba(255, 143, 207, 0.6),
    0 0 25px rgba(255, 143, 207, 0.4),
    0 0 50px rgba(255, 143, 207, 0.25);
}


/* SERDUSZKA */

.hearts {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
}

.hearts span {
  position: absolute;
  color: #ff8fcf;
  opacity: 0.6;
  animation: fall-diagonal linear infinite;
  text-shadow: 0 0 4px rgba(255, 143, 207, 0.4);
}

@keyframes fall-diagonal {
  from {
    transform: translate(0, 0) rotate(0deg);
  }
  to {
    transform: translate(140vw, 140vh) rotate(360deg);
  }
}
